apiVersion: v1
kind: Service
metadata:
  name: notifications-service
  namespace: amazon-api
  labels:
    app: notifications-service
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: notifications-service
