apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: amazon-api-prod

commonLabels:
  environment: production
  managed-by: kustomize

bases:
  - ../../apps/users
  - ../../apps/orders
  - ../../apps/notifications

resources:
  - prod-namespace.yaml
  - configmap.yaml
  - vault-auth.yaml

# Production patches - full HA
patchesStrategicMerge:
  - apps-prod-patch.yaml
