apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: amazon-api-prod

commonLabels:
  environment: production
  managed-by: kustomize

bases:
  - ../../apps/users
  - ../../apps/orders
  - ../../apps/notifications
  - ../../infrastructure/kafka
  - ../../base/postgres

resources:
  - prod-namespace.yaml
  - configmap.yaml
  - vault-auth.yaml
  - ingress-prod.yaml

# Production patches - full HA
patchesStrategicMerge:
  - apps-prod-patch.yaml
  - kafka-prod-patch.yaml
  - kafka-topics-prod-patch.yaml
  - postgres-prod-patch.yaml
