apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: amazon-api
  labels:
    app: postgres
    tier: database
spec:
  type: ClusterIP
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
