apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vault-data
  namespace: amazon-api
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vault-logs
  namespace: amazon-api
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Mi
