apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-casc
  namespace: amazon-api
data:
  casc.yaml: |
    jenkins:
      systemMessage: "Amazon Store API - Jenkins CI/CD"
      numExecutors: 2
      securityRealm:
        local:
          allowsSignup: false
          users:
            - id: ${JENKINS_ADMIN_USER}
              password: ${JENKINS_ADMIN_PASSWORD}
      authorizationStrategy:
        loggedInUsersCanDoAnything:
          allowAnonymousRead: false

    credentials:
      system:
        domainCredentials:
          - credentials:
              - vaultTokenCredential:
                  scope: GLOBAL
                  id: "vault-root-token"
                  description: "Vault root token for dev mode"
                  token: ${VAULT_ROOT_TOKEN}

    unclassified:
      location:
        url: http://jenkins.amazon-api.svc.cluster.local:8080/
      hashicorpVault:
        configuration:
          vaultUrl: http://vault.amazon-api.svc.cluster.local:8200
          vaultCredentialId: "vault-root-token"
          engineVersion: 2
          skipSslVerification: true
          failIfNotFound: false

    jobs:
      - script: >
          multibranchPipelineJob('amazon-api-users') {
            displayName('Amazon API Users Service')
            description('Pipeline for building and deploying the Users microservice')
            branchSources {
              git {
                id('amazon-api-users-repo')
                remote('https://github.com/israel2403/amazon-store.git')
                includes('master main develop feature/*')
              }
            }
            orphanedItemStrategy {
              discardOldItems {
                numToKeep(10)
              }
            }
            configure {
              it / factory(class: 'org.jenkinsci.plugins.workflow.multibranch.WorkflowBranchProjectFactory') {
                owner(class: 'org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject', plugin: 'workflow-multibranch')
                scriptPath('amazon-api-users/Jenkinsfile')
              }
            }
          }

      - script: >
          multibranchPipelineJob('amazonapi-orders') {
            displayName('Amazon API Orders Service')
            description('Pipeline for building and deploying the Orders microservice')
            branchSources {
              git {
                id('amazonapi-orders-repo')
                remote('https://github.com/israel2403/amazon-store.git')
                includes('master main develop feature/*')
              }
            }
            orphanedItemStrategy {
              discardOldItems {
                numToKeep(10)
              }
            }
            configure {
              it / factory(class: 'org.jenkinsci.plugins.workflow.multibranch.WorkflowBranchProjectFactory') {
                owner(class: 'org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject', plugin: 'workflow-multibranch')
                scriptPath('amazonapi-orders/Jenkinsfile')
              }
            }
          }
