apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: amazon-api-dev

commonLabels:
  environment: development
  managed-by: kustomize

bases:
  - ../../apps/users
  - ../../apps/orders
  - ../../apps/notifications
  - ../../infrastructure/kafka
  - ../../base/postgres

resources:
  - dev-namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - ingress-dev.yaml

# Development patches - reduced resources
patchesStrategicMerge:
  - apps-dev-patch.yaml
  - kafka-dev-patch.yaml
  - kafka-topics-dev-patch.yaml
  - postgres-dev-patch.yaml
