apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: amazon-api

commonLabels:
  environment: development
  managed-by: kustomize

bases:
  - ../../base/namespace
  - ../../base/postgres
  - ../../apps/users
  - ../../apps/orders
  - ../../apps/notifications
  - ../../infrastructure/kafka

# Development-specific resources
resources:
  - configmap.yaml
  - secrets.yaml

# Development patches - reduced resources
patchesStrategicMerge:
  - kafka-dev-patch.yaml
  - postgres-dev-patch.yaml
  - apps-dev-patch.yaml
